
body {
  font-size: 100%;
}

a:link {
  color: #FB6542;
}

a:visited {
  color: #FB6542;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

input {
  display: inline-block;
  padding: 10px;
  margin:10px; 
  box-shadow:0 0 15px 4px rgba(197, 24, 24, 0.06);
  border-radius: 10px;
  transition: .3s border-color;
}



input[type=text] {
  width:100%;
  resize: both;
  padding:15px;
  border-radius:15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  vertical-align: top;
}

/* Buttons on the modal */
button {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;
  
  /* usual styles */
  padding:10px;
  border:none;
  background-color:#A43820;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:50%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25%;
}

/* cards (both modal and not modal) */
.card {
  margin-left: 4%;
  margin-right: 4%;
  background-color: #283655;
  color: azure;
  border-radius: 10px;
}

.card-img-top {
  height: 33%;
}

.card-title {
  height: 20%;
}

.card-text {
  text-align: center;
}

.card-text {
  height: 40%;
}
/* remove dead space at bottom of page */
#root {
  background-color: #90AFC5;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}

/* navbar */
#navbar {
  text-align: center;
  background-color: #2A3132;
  padding: 15px;
  font-size: large;
}

/*contact */
#formContainer {
  border-radius: 5px;
  background-color: #90afc5;
  padding: 20px;
}

#emailForm {
  margin-left: 7%;
  margin-right: 7%;
}

/* home */
#selfie {
  border-radius: 25px;
  border-style: solid;
  border-color: #A43820;
  font-size: 1.25em;
  /* margin-left: 33%; */
  margin-top: 10%;
}

#intro {
  font-size: 1.25em;
  margin: 5% 5% 10% 5%;
}